/vendor
/web


/libraries

/web/.gitignore
/web/modules/.gitignore
/web/themes/.gitignore
/web/.gitattributes
/web/.ht.router.php
/web/.htaccess
/web/INSTALL.txt
/web/LICENSE.txt
/web/README.md
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/robots.txt
/web/update.php
/web/web.config

# Ignore configuration files that may contain sensitive information.
#sites/*/settings*.php
#sites/*/services*.yml

# Ignore paths that contain user-generated content.
/web/sites
#/web/sites/*/files
#/web/sites/*/private

# Ignore SimpleTest multi-site environment.
/web/sites/simpletest
/web/.editorconfig
